@layout("Forget Password", "user", Seq(routes.Assets.versioned("javascripts/forgetPassword.js").toString()), Seq()) {
  <h2>Forget Password?</h2>
  <p>
    Please provide your email address and we will send you the instruction to create a new password.
  </p>
  <form id="request-reset-password" class="form">
    <label for="username">Email</label>
    <input class="input" id="email" required>
    <div class="button-group">
      <input class="theme" type="submit" value="Send me the instruction." id="submit">
    </div>
  </form>
  <div id="message"></div>
}