@(user: User)
@layout("Reset Password", "user", Seq(routes.Assets.versioned("javascripts/resetPassword.js").toString()), Seq()) {
  <h2>Create a New Password for @user.displayName (@user.name)</h2>
  <p>
    Please choose a new password for your account.
  </p>
  <form id="reset-password" class="form">
    <input class="input" id="username" type="hidden" value="@user.name">
    <input class="input" id="token" type="hidden" value="@user.getResetPasswordToken">
    <label for="password">Password</label>
    <input class="input" id="password" type="password" required>
    <label for="password2">Confirm Password</label>
    <input class="input" id="password2" type="password" required>
    <div class="button-group">
      <input class="theme" type="submit" value="Reset Password" id="submit">
    </div>
  </form>
  <div id="message"></div>
}