@(user: User)
@email.template {
  <p>Hi @user.displayName,</p>
  <p>
    You have requested @OJController.getSiteName to reset your password.
    We are happy to inform you that your request has been approved.
    Please follow the instruction in this email to reset your password.
  </p>
  <p>
    To create a new password is very simple. All you need to do is to open
    the link below and input the new password.
  </p>
  <p>
    <a href="@user.getResetPasswordLink" style="color: #F15A23;">@user.getResetPasswordLink</a>
  </p>
  <p>
    Happy coding!
  </p>
  <p>The @OJController.getSiteName Team</p>
}