@(content: Html)
<html style="margin: 0">
  <body style="margin: 0">
    <div style="background: #FCFCFC; font-family : Helvetica, Arial, Sans-serif, serif;">
      <h1 style="font-size : 18px ;
                 text-align : center ;
                 background : #F15A23 ;
                 color : #FFFFFF ;
                 padding : 10px ;
                 font-weight : normal ;">
        Orange Judge
      </h1>
      <div style="padding : 5px 20px ; font-size: 13px">
        @content
      </div>
    </div>
  </body>
</html>