@(user: User)
@email.template {
  <p>Hi @user.displayName,</p>
  <p>Thank you for registering at
    <a href="@OJController.getSiteUrl" style="color: #F15A23;">@OJController.getSiteName</a>.
  </p>
  <p>
    For security reasons, we need to verify your email address.
    Please confirm your ownership of this email account (@user.email) by clicking the link below, or
    open it in a new browser page.
  </p>
  <p>
    <a href="@user.getVerificationLink" style="color: #F15A23;">@user.getVerificationLink</a>
  </p>
  <p>
    Please note that you must verify your email address <strong>within 24 hours</strong>, otherwise you need to
    create a new account again.
  </p>
  <p>
    If you did not create any account at @OJController.getSiteName with this email address, please ignore this email.
    Or you could
    <a href="@OJController.getSiteUrl@routes.PortalController.contactUs()" style="color: #F15A23;">
      report to us
    </a>
    for the spam.
  </p>
  <p>
    Happy coding!
  </p>
  <p>The @OJController.getSiteName Team</p>
}